.productdetaildisplaycard__main_container {
    width: min(50vw, 700px);
    border-radius: var(--primary-border-radius);
    box-shadow: 0px 0px 8px 1px #888888;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    background: #fff;
}

.productdetaildisplaycard__detail_container {
    width: min(25vw, 250px);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.productdetaildisplaycard__main_container img {
    width: 300px;
    height: 300px;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.productdetaildisplaycard__description {
    padding-left: 10px;
    padding-right: 10px;
    
}

@media only screen and (max-width: 1140px) {
    .productdetaildisplaycard__main_container img {
        width: 230px;
        height: 230px;
        margin: auto;
    }
}

@media only screen and (max-width: 960px) {
    .productdetaildisplaycard__main_container img {
        width: 230px;
        height: 230px;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    .productdetaildisplaycard__main_container {
        margin-top: 20px;
        margin-bottom: 20px
    }

    .productdetaildisplaycard__main_container img {
        width: 150px;
        height: 150px;
        margin: auto;
    }
}

@media only screen and (max-width: 400px) {
    .productdetaildisplaycard__main_container {
        width: 200px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px
    }
}
