:root {
    --primary-color: #6332F6;
    --primary-border-radius: 10px;
    
    --monochromatic-primary-color: #420AEB;

    --secondary-color: #C5F632;

    --ternary-color: #F66332;

    --footer-color: #000;

    --background-color: #303133;
}

h1 {
    margin: 0px;
    line-height: 90px;
    font-size: 48px;
}